# Malha de Aterramento

In [59]:
# passo 1 - Importar a tabela
import pandas as pd

medicao_completo = pd.read_csv('Medições - 04_03 - sem falhas.csv', index_col=)

medicao_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     object
 1   P1          2 non-null      object
 2   P2          3 non-null      object
 3   P3          3 non-null      object
 4   P4          2 non-null      object
 5   P5          3 non-null      object
 6   P6          4 non-null      object
 7   P7          4 non-null      object
 8   P8          3 non-null      object
 9   P9          2 non-null      object
 10  P10         3 non-null      object
 11  P11         3 non-null      object
 12  P12         2 non-null      object
dtypes: object(13)
memory usage: 1.3+ KB

In [64]:
# Passo 2 - Tratar a tabela

medicao_completo = medicao_completo.fillna(0)
display(medicao_completo.loc[:])

,Unnamed: 0,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12
0,P1,0,"0,32",0,0,"0,13",0,0,0,0,0,0,0
1,P2,"0,42",0,"0,54",0,0,"1,06",0,0,0,0,0,0
2,P3,0,"0,49",0,"0,45",0,0,"0,18",0,0,0,0,0
3,P4,0,0,"0,35",0,0,0,0,"0,18",0,0,0,0
4,P5,"0,24",0,0,0,0,"1,17",0,0,"0,43",0,0,0
5,P6,0,"1,19",0,0,"1,22",0,"1,37",0,0,"1,2",0,0
6,P7,0,0,"0,27",0,0,"1,3",0,"0,49",0,0,"0,34",0
7,P8,0,0,0,"0,12",0,0,"0,44",0,0,0,0,"0,13"
8,P9,0,0,0,0,"0,36",0,0,0,0,"0,26",0,0
9,P10,0,0,0,0,0,"1,18",0,0,"0,30",0,"0,33",0
10,P11,0,0,0,0,0,0,"0,31",0,0,"0,30",0,"0,3"
11,P12,0,0,0,0,0,0,0,"0,11",0,0,"0,28",0

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.heatmap()
plt.show()

ValueError: could not convert string to float: '0,42'